$blue: #102b4e;
$vang:#e8b909;
$maumenu: #313332;
$xam: #e4e5e6;
body{
	font-family: 'Roboto', sans-serif;
}
//   khai báo lớp màu
.color_blue{
    color: $blue;
}
.color_yellow{
    color: $vang;
}
.color_white{
    color: #fff;
}
.color_gray{
    color: #808083;
}

header {
    .top_header{
        background-color: $blue;
    }
    font-size: 14px;
    .login_header{
        background-color: #e4e5e6;
        margin-left: 7%;
        padding: 0% 2.5%;
    }
    .color_blue{
        color: $blue;
    }
    .color_yellow{
        color: $vang;
    }
    .color_white{
        color: #fff;
    }
    .main_header_content{
        i{
            padding-right: 6px;
        }
        p{
            display: inline-block;
            padding: 0% 12px;
            margin-top: 15px;
        }
    }
    .left_content_header {
        display: inline-block;
        
    }
    .login_header {
        display: inline-block;
        position: relative;
    }
    .language_header {
        position: absolute;
        top: 25%;
        right: 4%;
        a{
            margin-left: 10px;
        }
    }

    .menu_h{
        .logo_h {
            padding-top: 8%;
        }
        .main_menu{
            ul{
                li{
                    float: left;
                    list-style: none;
                    margin: 1.1%;
                    a{
                        text-transform: uppercase;
                        color: #313332;
                        text-decoration: none;
                        font-size: 16px;
                    }
                    span{
                        padding-left: 10px;
                        color: $vang;
                    }
                }
            }
        }
        .form_search{
            .input-group {
                width: 86%;
                padding-left: 6%;
                input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: #babcbe;
                    }
                    input::-moz-placeholder { /* Firefox 19+ */
                    color: #babcbe;
                    }
                    input:-ms-input-placeholder { /* IE 10+ */
                    color: #babcbe;
                    }
                    input:-moz-placeholder { /* Firefox 18- */
                    color: #babcbe;
                    }
                .input-group-append {
                    border-bottom: 1px solid #313332;
                    border-top: 1px solid #313332;
                    border-right: 1px solid #313332;
                    padding: 3px;
                }
            }
            .form-control {
                border-radius: 0rem;
                border-right: 1px solid #fff;
                border-bottom: 1px solid #313332;
                border-top: 1px solid #313332;
                border-left: 1px solid #313332;
            }
            .btn { 
                border-radius: 0rem;
                padding: 1% 30px    ;
                
            }
            .btn-success {
                color: #fff;
                background-color: $vang;
                border-color: $vang;
            }
            .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
                color: #fff;
                background-color: $vang;
                border-color: $vang;
            }
        }
    }

    .menu_right{
        p.item.get_info a{
            padding: 25px 0%;
            font-size: 6px;
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            text-decoration: none;
            color: $blue;
        }
        .item_a{
            background-color: $vang;
        }
        .item_b{
            background-color: $blue;
        }
        .tool_icon_right {
            background-color: #4D4D4D;
            position: fixed;
            top: 25%;
            right: 0;
            width: 40px;
            text-align: center;
            box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
            z-index: 5;
            .item_border{
                border-bottom: 1px solid #666;
            }
            .item {
                position: relative;
                margin-bottom: 0;
                i{
                    color: #fff;
                }
                span{
                    position: absolute;
                    top: 0;
                    left: 100%;
                    background: #c8102e;
                    font-size: 1rem;
                    line-height: 46px;
                    display: table-cell;
                    vertical-align: middle;
                    width: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    -webkit-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s;
                    opacity: 1;
                    pointer-events: auto;
                    color: #fff;
                    text-align: left;
                    z-index: 5;
                    a {
                        text-decoration: none;
                    }
                }
                a{
                    display: inline-block;
                    width: 100%;
                    padding: 8px 0px;
                    z-index: 6;
                    position: relative;
                    &:hover{
                        z-index: 9;
                        border-radius: 0px 0 0 0px;
                        // background-color: black;
                        i{
                            // display: block;
                            right: 100%;
                            z-index: -1;
                            opacity: 1;
                        }
                    }
                    img {
                        vertical-align: top;
                    }
                    
                }
            }
            .tool_show_txt{
                border-bottom: 1px solid #666;
                z-index: 9999;
            }
        }
    }
}


main #home{
    .banner_h{
        .img_banner_h{
            position: relative;
            width: 100%;
            .text_img{
                display: inline-block;
                position: absolute;
                top: 3%;
                left: 45%;
                z-index: 9999;
                p{
                    line-height: 80%;
                }
                .top_text{
                    text-transform: uppercase;
                    color: #babcbe;
                    font-size: 40px;
                }
                .down_text{
                    text-transform: uppercase;
                    color: $vang;
                    font-size: 40px;
                    font-weight: 700;
                }
            }
            .mark_opacity{
                width: 100%;
                height: 50%;
                position: absolute;
                bottom: 0;
                left: 0;
                background: #000;
                opacity: 0.4;
                z-index: 1;
            }
            .mark_banner{
                position: absolute;
                bottom: 0;
                width: 100%;
                z-index: 9999;
                .img_mark_banner {
                    text-align: -webkit-center;
                    .img_hh {
                        width: 150px;
                        height: 150px;
                        background-color: #fff;
                        border-radius: 100%;
                        img{
                            padding-top: 16%;
                        }
                    }
                }
                .txt_mark_banner{
                    padding-top: 5%;
                }
                .txt_mark_banner h3 {
                    text-align: center;
                    text-transform: uppercase;
                    color: #fff;
                }
                .txt_mark_banner p {
                    text-align: -webkit-center;
                    color: #fff;
                }
            }
        }
    }
    .news_home {
        background-color: $vang;
        text-align: center;
        padding-top: 2%;
        h2 {
            font-weight: bold;
            text-transform: capitalize;
        }
    }
    .test_color{
        width: 100%;
        height: 75px;
        border-style: solid;
        border-width: 75px 660px 0 683px;
        border-color: $vang transparent transparent transparent;
        background-color: $xam;

    }
    .slide_home{
        padding: 3% 0%;
        background-color: $xam;
        img{
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .item {
            position: relative;
        }
        .title_img_slide_home {
            position: absolute;
            width: 100%;
            bottom: 0;
            color: #fff;
            text-align: center;
            background-color: rgba(10, 10, 10, 0.46);
            border-radius: 0 0 10px 10px;
            h6{
                padding: 2% 0%;
            }
        }
        .owl-item {
            padding: 0% 0.3%;
        }
        .owl-nav {
            text-align: center;
            font-size: 50px;
            button:focus {
                outline: 0px dotted;
                outline: 0px auto -webkit-focus-ring-color;
            }
            button.owl-prev {
                position: absolute;
                left: -1.5%;
                top: 25%;
            }
            button.owl-next {
                position: absolute;
                right: -1.5%;
                top: 25%;
            }
        }
    }
    .color_under_slide{
        width: 100%;
        height: 70px;
        border-style: solid;
        border-width: 70px 670px 0 670px;
        border-color: $xam transparent transparent transparent;
    }
    .activities_home {
        .row.h1_r {
            padding-top: 3%;
        }
        .mark_banner{
            .img_mark_banner {
                text-align: -webkit-center;
                .img_hh {
                    width: 150px;
                    height: 150px;
                    background-color: #f1f3ee;
                    border-radius: 100%;
                    img{
                        padding-top: 16%;
                    }
                }
            }
            .txt_mark_banner{
                padding-top: 5%;
            }
            .txt_mark_banner h3 {
                text-align: center;
                // text-transform: uppercase;
                color: #221f1f;
            }
            .txt_mark_banner p {
                text-align: -webkit-center;
                color: #221f1f;
            }
        }
        padding-top: 3%;
        h2{
            text-align: center;
            font-weight: bold;
        }
        p{
            text-align: center;
        }
    }
    .color_under_activities{
        width: 100%;
        height: 70px;
        border-style: solid;
        border-width: 70px 670px 0 670px;
        border-color: #fff transparent transparent transparent;
        background-color: $vang;
    }
    .Facts_Figures_home{
        background-color: $vang;
        // load-percent
        .load_percent{
            .txt_percent p {
                color: #fff;
                font-size: 20px;
                font-weight: 600;
            }
        }
        .flex-wrapper {
            display: flex;
            flex-flow: row nowrap;
          }
          
          .single-chart {
            width: 33%;
            justify-content: space-around ;
          }
          
          .circular-chart {
            display: block;
            margin: 10px auto;
            max-width: 80%;
            max-height: 250px;
          }
          
          .circle-bg {
            fill: none;
            stroke: #ba9307;
            stroke-width: 3.8;
          }
          
          .circle {
            fill: none;
            stroke-width: 3.8;
            stroke-linecap: round;
            animation: progress 1s ease-out forwards;
          }
          
          @keyframes progress {
            0% {
              stroke-dasharray: 0 100;
            }
          }
          
          .circular-chart.orange .circle {
            stroke: #ffffff;
          }
          
          .circular-chart.green .circle {
            stroke: #ffffff;
          }
          
          .circular-chart.blue .circle {
            stroke: #ffffff;
          }
          
          .percentage {
            fill: #ffffff;
            font-family: sans-serif;
            font-size: 0.5em;
            text-anchor: middle;
          }
        h2{
            text-align: center;
            padding-top: 3%;
            font-weight: bold;
        }
        p{
            text-align: center;
        }
        .container {
            position: relative;
            text-align: center;
          }
          
          #percent {
            position: absolute;
            z-index: 100;
            top:50%;
            left: 0;
            right:0;
            transform: translateY(-50%);
            font: bold 24px/1 sans-serif;
            color: #fff;
          }
        .text_under_percent{
            p{
                color: #fff;
                font-size: 20px;
                font-weight: 700;   
            }
        }
        
    }
    .color_under_Facts_Figures_home{
        width: 100%;
        height: 70px;
        border-style: solid;
        border-width: 70px 670px 0 670px;
        border-color: $vang transparent transparent transparent;
        background-color: $xam;
    }
    .slide_home_bottom{
        padding: 0% 0% 3% 0%;
        background-color: $xam;
        .owl-nav {
            display: none;
        }
        img{
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .item {
            position: relative;
        }
        .title_img_slide_home {
            position: absolute;
            width: 100%;
            bottom: 0;
            color: #fff;
            text-align: center;
            background-color: rgba(10, 10, 10, 0.46);
            border-radius: 0 0 10px 10px;
            h6{
                padding: 2% 0%;
            }
        }
        .owl-item {
            padding: 0% 0.3%;
        }
        h2{
            text-align: center;
            padding-top: 3%;
            text-transform: uppercase;
            font-weight: bold;
        }
        p{
            text-align: center;
        }
    }
    .form_call_book {
        padding-top: 2%;
        padding-bottom: 1.5%;
        h3 {
            text-transform: uppercase;
            font-weight: 700;
            color: $vang;
        }
        p{
            color: #808083;
        }
        p.p_4_action {
            padding-top: 20%;
        }
        .call_to_action{
            .input_group_call_to_action{
                input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: #a5a7aa;
                    }
                    input::-moz-placeholder { /* Firefox 19+ */
                    color: #a5a7aa;
                    }
                    input:-ms-input-placeholder { /* IE 10+ */
                    color: #a5a7aa;
                    }
                    input:-moz-placeholder { /* Firefox 18- */
                    color: #a5a7aa;
                    }
            }
            input#usr {
                margin: 5% 0%;
            }
            .form-control {
                border-radius: 10px;
            }
            button{
                background-color: $vang;
                border-radius: 9px;
                strong,span{
                    color: #fff;
                    text-transform: uppercase;
                }
            }
        }
        .book_library{
            .button_book_library{
                padding-top: 8%;
                .btn{
                    padding: .375rem 6.75rem
                }
                .btn-warning:hover {
                    color: #212529;
                    background-color: #babcbe;
                    border-color: #babcbe;
                }
                .btn-warning {
                    background-color: #babcbe;
                    border-color: #babcbe;
                }
                .btn-warning:focus {
                    box-shadow: 0 0 0 0rem #babcbe;
                }
                .btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
                    color: #212529;
                    background-color: #babcbe;
                    border-color: #babcbe;
                }
                button{
                    background-color: #babcbe;
                    border-radius: 9px;
                    strong,span{
                        color: #fff;
                        text-transform: uppercase;
                    }
                    
                }
            }
        }
    }
    
}
main #about_us{
    .about_top_title{
        background-color: #cfd1d2;
        padding: .75% 0%;
        span {
            text-transform: uppercase;
        }
    } 
    .content_about_us{
        h2{
            text-align: center;
        }
        hr {
            margin-top: 1rem;
            margin-bottom: 2rem;
            border: 0;
            border-top: 2px dashed #808083;
        }
        .card-header a {
            color: $blue;
            img{
                margin-right: 6px;
                margin-top: -3px;
            }
        }
    }
}
main #people{
    .people_top_title{
        background-color: #cfd1d2;
        padding: .75% 0%;
        span {
            text-transform: uppercase;
        }
    }
    .content_people{
        padding-top: 1%;
        .cate_pp_img{
            -webkit-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
            border-radius: 10px;
            margin: 12% 0%;
            a{
                text-decoration: none;
            }
            .img_cate {
                img {
                    border-radius: 10px 10px 0 0;
                }
            }
            .txt_ct_cate {
                padding-top: 3%;
            }
            .logo_square{
                    text-align: right;
            }
            .txt_cate_pp_img{
                padding-left: 0%;
                h5{
                    display: inline;
                    text-transform: uppercase;
                    color: $blue;
                }
                hr{
                    border-top: 1px dashed $xam;
                    widows: 80%;
                }
                p{
                    color: #9a9c9e;
                }
            }
        }
    }
}
main #people_details{
    .people_details_top_title{
        background-color: #cfd1d2;
        padding: .75% 0%;
        span {
            text-transform: uppercase;
        }
    } 
    .content_people_details{
        padding: 3% 0%;
        .content_left_pp_details{
            .cate_pp_details{
                h3 {
                    text-transform: uppercase;
                    color: #a5a7aa;
                }
                ul{
                    margin-left: -11.5%;
                    li{
                        list-style: none;
                        border-bottom: 1px solid #b4b5b7;
                        margin: 2% 0% 0% 0%;
                        padding-bottom: 2%;
                        a{
                            color: $blue;
                            text-decoration: none;
                            font-weight: 500;
                            &:hover{
                                color: #b9bbbe;
                            }
                        }
                        .txt_cate_pp_img {
                            padding: 0;
                            margin-left: -4%;
                        }
                    }
                }
            }
            .dif_info{
                padding-top: 8%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                    text-transform: uppercase;
                }
                ul{
                    margin-left: -11.5%;
                    li{
                        list-style: none;
                        border-bottom: 1px solid #b4b5b7;
                        margin: 2% 0% 0% 0%;
                        padding-bottom: 2%;
                        i {
                            color: #a2a4a6;
                        }
                        a{
                            color: $blue;
                            text-decoration: none;
                            font-weight: 500;
                            margin-left: -4%;
                        }
                        .txt_cate_pp_img {
                            padding: 0;
                        }
                    }
                }
            }
            .insta_pp{
                padding-top: 8%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                    text-transform: uppercase;
                }
                .img_insta{
                    padding-right: 0px;
                    padding-top: 3%;
                }
            }
            .tag_pp{
                padding-top: 8%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                    text-transform: uppercase;
                }
                a{
                    background-color: #cfd1d2;
                    color: $blue;
                    border-radius: 5px;
                    padding: 0% 2%;
                    text-decoration: none;
                    margin: 0% 1%;
                }
                .a_tag_content {
                    padding-top: 3%;
                }
            }
        }
        .content_right_pp_details{
            .tt_right_pp_details {
                padding-bottom: 3%;
            }
            .col-md-10.txt_cate_pp_img {
                margin-left: -10%;
                h3 {
                    text-transform: uppercase;
                }
            }
        }
    }
}
main #departments{
    .people_top_title{
        background-color: #cfd1d2;
        padding: .75% 0%;
        span {
            text-transform: uppercase;
        }
    }
    .content_people{
        padding-top: 1%;
        .cate_pp_img{
            -webkit-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
            border-radius: 10px;
            margin: 12% 0%;
            a{
                text-decoration: none;
            }
            .img_cate {
                img {
                    border-radius: 10px 10px 0 0;
                }
            }
            .txt_ct_cate {
                padding-top: 3%;
            }
            .logo_square{
                    text-align: right;
            }
            .txt_cate_pp_img{
                padding-left: 0%;
                h5{
                    display: inline;
                    text-transform: uppercase;
                    color: $blue;
                }
                hr{
                    border-top: 1px dashed $xam;
                    widows: 80%;
                }
                p{
                    color: #9a9c9e;
                }
            }
        }
    }
}
main #departments_details{
    .people_details_top_title{
        background-color: #cfd1d2;
        padding: .75% 0%;
        span {
            text-transform: uppercase;
        }
    } 
    .content_people_details{
        padding: 3% 0%;
        .content_left_pp_details{
            .cate_pp_details{
                h3 {
                    text-transform: uppercase;
                    color: #a5a7aa;
                    font-size: 35px;
                    margin-bottom: 10%;
                }
                ul{
                    margin-left: -11.5%;
                    li{
                        list-style: none;
                        border-bottom: 1px solid #b4b5b7;
                        margin: 2% 0% 0% 0%;
                        padding-bottom: 2%;
                        a{
                            color: $blue;
                            text-decoration: none;
                            font-weight: 500;
                            &:hover{
                                color: #b9bbbe;
                            }
                        }
                        .txt_cate_pp_img {
                            padding: 0;
                            margin-left: -4%;
                        }
                    }
                }
            }
            .dif_info{
                padding-top: 8%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                }
                ul{
                    margin-left: -11.5%;
                    li{
                        list-style: none;
                        border-bottom: 1px solid #b4b5b7;
                        margin: 2% 0% 0% 0%;
                        padding-bottom: 2%;
                        i {
                            color: #a2a4a6;
                        }
                        a{
                            color: $blue;
                            text-decoration: none;
                            font-weight: 500;
                            margin-left: -4%;
                        }
                        .txt_cate_pp_img {
                            padding: 0;
                        }
                    }
                }
            }
            .insta_pp{
                padding-top: 8%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                }
                .img_insta{
                    padding-right: 0px;
                    padding-top: 3%;
                }
            }
            .tag_pp{
                padding-top: 8%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                }
                a{
                    background-color: #cfd1d2;
                    color: $blue;
                    border-radius: 5px;
                    padding: 0% 2%;
                    text-decoration: none;
                    margin: 0% 1%;
                }
                .a_tag_content {
                    padding-top: 3%;
                }
            }
        }
        .content_right_pp_details{
            .tt_right_pp_details {
                padding-bottom: 3%;
            }
            .col-md-10.txt_cate_pp_img {
                margin-left: -10%;
                h3 {
                    text-transform: uppercase;
                }
            }
        }
    }
}
main #partnership{
    .people_top_title{
        background-color: #cfd1d2;
        padding: .75% 0%;
        span {
            text-transform: uppercase;
        }
    }
    .content_people{
        padding-top: 1%;
        .cate_pp_img{
            -webkit-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
            border-radius: 10px;
            margin: 12% 0%;
            a{
                text-decoration: none;
                &:hover{
                    h5{
                        transition: 0.4s;
                        color: $vang;
                    }
                }
            }
            .img_cate {
                overflow: hidden;
                border-radius: 10px 10px 0 0;
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
                img {
                    border-radius: 10px 10px 0 0;
                    transform: scale(1);
                    transition: all 0.3s ease-in 0s;
                }
            }
            .txt_ct_cate {
                padding-top: 3%;
            }
            .logo_square{
                    text-align: right;
            }
            .txt_cate_pp_img{
                padding-left: 0%;
                h5{
                    display: inline;
                    text-transform: uppercase;
                    color: $blue;
                }
                hr{
                    border-top: 1px dashed $xam;
                    widows: 80%;
                }
                p{
                    color: #9a9c9e;
                }
            }
        }
    }
}
main #partnership_details{
    .people_details_top_title{
        background-color: #cfd1d2;
        padding: .75% 0%;
        span {
            text-transform: uppercase;
        }
    } 
    .content_people_details{
        padding: 3% 0%;
        .content_left_pp_details{
            .cate_pp_details{
                h3 {
                    text-transform: uppercase;
                    color: #a5a7aa;
                    font-size: 35px;
                    margin-bottom: 10%;
                }
                ul{
                    margin-left: -11.5%;
                    li{
                        list-style: none;
                        border-bottom: 1px solid #b4b5b7;
                        margin: 2% 0% 0% 0%;
                        padding-bottom: 2%;
                        a{
                            color: $blue;
                            text-decoration: none;
                            font-weight: 500;
                            &:hover{
                                color: #b9bbbe;
                            }
                        }
                        .txt_cate_pp_img {
                            padding: 0;
                            margin-left: -4%;
                        }
                    }
                }
            }
            .dif_info{
                padding-top: 8%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                }
                ul{
                    margin-left: -11.5%;
                    li{
                        list-style: none;
                        border-bottom: 1px solid #b4b5b7;
                        margin: 2% 0% 0% 0%;
                        padding-bottom: 2%;
                        i {
                            color: #a2a4a6;
                        }
                        a{
                            color: $blue;
                            text-decoration: none;
                            font-weight: 500;
                            margin-left: -4%;
                        }
                        .txt_cate_pp_img {
                            padding: 0;
                        }
                    }
                }
            }
            .insta_pp{
                padding-top: 8%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                }
                .img_insta{
                    padding-right: 0px;
                    padding-top: 3%;
                }
            }
            .tag_pp{
                padding-top: 8%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                }
                a{
                    background-color: #cfd1d2;
                    color: $blue;
                    border-radius: 5px;
                    padding: 0% 2%;
                    text-decoration: none;
                    margin: 0% 1%;
                }
                .a_tag_content {
                    padding-top: 3%;
                }
            }
        }
        .content_right_pp_details{
            .tt_right_pp_details {
                padding-bottom: 3%;
            }
            .col-md-10.txt_cate_pp_img {
                margin-left: -10%;
                h3 {
                    text-transform: uppercase;
                }
            }
        }
    }
}
main #programs{
    .people_details_top_title{
        background-color: #cfd1d2;
        padding: .75% 0%;
        span {
            text-transform: uppercase;
        }
    } 
    .content_people_details{
        padding: 3% 0%;
        .content_left_pp_details{
            .cate_pp_details{
                img{
                    padding-bottom: 3%;
                }
                h3 {
                    text-transform: uppercase;
                    color: #a5a7aa;
                }
                h5 {
                    margin-left: -10%;
                    color: $blue;
                    text-transform: uppercase;
                }
                ul{
                    margin-left: -11.5%;
                    li{
                        list-style: none;
                        border-bottom: 1px solid #b4b5b7;
                        margin: 2% 0% 0% 0%;
                        padding-bottom: 2%;
                        a{
                            color: $blue;
                            text-decoration: none;
                            font-weight: 500;
                            &:hover{
                                color: #b9bbbe;
                            }
                        }
                        .txt_cate_pp_img {
                            padding: 0;
                            margin-left: -4%;
                        }
                    }
                }
            }
            .dif_info{
                padding-top: 1%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                }
                .tt_dif_info p {
                    background-color: $blue;
                    font-size: 16px;
                    color: #fff;
                    padding: 1.5% 6%;
                    display: inline-block;
                    text-transform: uppercase;
                }
                .tt_dif_info_onsite p {
                    background-color: $vang;
                    color: #fff;
                    padding: 1.5% 6%;
                    display: inline-block;
                    text-transform: uppercase;
                }
                ul{
                    margin-left: -11.5%;
                    li{
                        list-style: none;
                        border-bottom: 1px solid #b4b5b7;
                        margin: 2% 0% 0% 0%;
                        padding-bottom: 2%;
                        i {
                            color: #a2a4a6;
                        }
                        a{
                            color: $blue;
                            text-decoration: none;
                            font-weight: 500;
                            margin-left: -8%;
                        }
                        .txt_cate_pp_img {
                            padding: 0;
                        }
                    }
                }
            }
            .insta_pp{
                padding-top: 8%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                }
                .img_insta{
                    padding-right: 0px;
                    padding-top: 3%;
                }
            }
            .tag_pp{
                padding-top: 8%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                }
                a{
                    background-color: #cfd1d2;
                    color: $blue;
                    border-radius: 5px;
                    padding: 0% 2%;
                    text-decoration: none;
                    margin: 0% 1%;
                }
                .a_tag_content {
                    padding-top: 3%;
                }
            }
        }
        .content_right_pp_details{
            .tt_right_pp_details {
                padding-bottom: 3%;
            }
            .col-md-10.txt_cate_pp_img {
                margin-left: -10%;
                h3 {
                    text-transform: uppercase;
                }
            }
        }
    }
}
main #student_service{
    .student_service_top_title{
        background-color: #cfd1d2;
        padding: .75% 0%;
        span {
            text-transform: uppercase;
        }
    } 
    .content_people_details{
        padding: 3% 0%;
        .content_left_pp_details{
            .cate_pp_details{
                h3 {
                    text-transform: uppercase;
                    color: #221f1f;
                    border-bottom: 14px solid $vang;
                    padding-bottom: 6px;
                }
                ul{
                    margin-left: -11.5%;
                    li{
                        list-style: none;
                        border-bottom: 1px solid #b4b5b7;
                        margin: 2% 0% 0% 0%;
                        padding-bottom: 2%;
                        a{
                            color: $blue;
                            text-decoration: none;
                            font-weight: 500;
                            padding-right: 10%;
                            &:hover{
                                color: #b9bbbe;
                            }
                        }
                        .txt_cate_pp_img {
                            padding: 0;
                            margin-left: -4%;
                            span{
                                color: #919296;
                                display: block;
                            }
                        }
                    }
                }
            }
            .img_student_service {
                margin-top: 8%;
                margin-bottom: 5%;
            }
            .video_youtube_student_service {
                -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
                background-color: #fff;
                border-radius: 0px 0px 15px 15px;
                .txt_content_video_youtube{
                    .img_right_video_youtube{
                        img{
                            padding-top: 10%;
                        }
                    }
                    span {
                        display: block;
                        margin: 3% 0 5% 8%;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }
            .insta_pp{
                padding-top: 8%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                    text-transform: uppercase;
                }
                .img_insta{
                    padding-right: 0px;
                    padding-top: 3%;
                    margin-left: -4px;
                }
            }
            .tag_pp{
                padding-top: 8%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                    text-transform: uppercase;
                }
                a{
                    background-color: #cfd1d2;
                    color: $blue;
                    border-radius: 5px;
                    padding: 0% 2%;
                    text-decoration: none;
                    margin: 0% 1%;
                }
                .a_tag_content {
                    padding-top: 3%;
                }
            }
        }
        .content_right_pp_details{
            .tt_right_pp_details {
                padding-bottom: 3%;
            }
            .col-md-10.txt_cate_pp_img {
                margin-left: -10%;
                h3 {
                    text-transform: uppercase;
                }
            }
            .related_news_serivce{
                h5{
                    background-color: $vang;
                    color: #fff;
                    text-transform: uppercase;
                    padding: 1% 4%;
                    margin-bottom: 2%;
                }
                a{
                    color: black;
                    text-decoration: none;
                    margin-left: -4%;
                    line-height: 30px;
                    &:hover{
                        color: $vang;
                    }
                }
            }
        }
    }
}
main #student_service_education{
    .main_ss_education{
        .banner_ss_edu{
            position: relative;
            margin-bottom: 2%;
            width: 100%;
            .img_banner_ss_edu{
                position: relative;
                img {
                    // height: 880px;
                    object-fit: cover;
                }
                .bg_cl_img_banner{
                    position: absolute;
                    top: 0;
                    background-color: #0e274ea1;
                    width: 100%;
                    height: 100%;
                }
            }
            .top_img_ss_edu{
                background-color: #000b1db3;
                position: absolute;
                top: 0;
                left: 18%;
                padding: 3% 4%;
                .logo_top_img_ss_edu{
                    display: inline-block;
                }
                .txt_top_img_ss_edu{
                    display: inline-block;
                    .color_white{
                        color: #fff;
                    }
                    span{
                        font-size: 30px;
                        text-transform: uppercase;
                    }
                }
            }
            .img_hh_lup{
                position: absolute;
                bottom: 8%;
                width: 100%;
                margin: auto;
                text-align: center;
            }
        }
        .content_stu_ss_edu{
            text-align: center;
            margin-bottom: 5%;
            .a_content_edu{
                color: #919396;
            }
            .b_content_edu{
                color: #ff8534;
                padding: 0 5%;
            }
            button.btn.btn-success {
                background-color: #91a93e;
                border-color: #91a93e;
                margin-top: 1%;
            }
            .btn{
                padding: 0.75% 5%;
                border-radius: 15px;
                font-size: 2rem;
            }
            span{
                text-transform: uppercase;  
            }
        }
    }
}
main #news_even{
    .news_even_title{
        background-color: #cfd1d2;
        padding: .75% 0%;
        .tt_news_even_h{
            color: #7f7f83;
        }
        span {
            text-transform: uppercase;
        }
        a{
            color: #222;
            text-decoration: none;
        }
    } 
    .content_news_even{
        margin-top: 3%;
        margin-bottom: 8%;
        .col_content_h{
            .vnu_is_content{
                -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
                border-radius: 15px;
                position: relative;
                .top_vnu_is_content{
                    background-color: $vang;
                    padding: 1% 1%;
                    border-radius: 15px 15px 0 0;
                    h5 {
                        text-transform: uppercase;
                        text-align: center;
                        color: #ffffff;
                        padding-top: 5%;
                    }
                    hr{
                        border-top: 2px dotted rgba(0, 0, 0, 0.1);
                        width: 80%;
                    }
                    p {
                        color: #fff;
                        text-align: center;
                    }
                }
                .body_vnu_is_content{
                    background-color: #fff;
                    border-radius: 12px;
                    padding-bottom: 2%;
                    .img_body_content {
                        padding: 8% 6%;
                        img{
                            border-radius: 15px;
                            -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
                             box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
                        }
                    }
                    ul{
                        // padding: 0;
                        li{
                            list-style: none;
                            position: relative;
                            padding-right: 6%;
                            a{
                                color: $blue;
                                text-transform: uppercase;
                                text-decoration: none;
                                font-weight: 500;
                            }
                            strong{
                                color: $vang;
                            }
                            hr{
                                border-top: 2px dotted rgba(0, 0, 0, 0.1);
                                margin: 5px 0;
                            }
                            p {
                                color: #919396;
                                text-align: left;
                            }
                        }
                        li:before {
                            content: '';
                            width: 12px;
                            height: 12px;
                            border-radius: 10px;
                            background: $vang;
                            position: absolute;
                            left: -30px;
                            top: 5px;
                        }
                    }
                }
                .bottom_more_vnu_is_content{
                    background-color: $vang;
                    -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
                    box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
                    text-align: center;
                    border-radius: 0 0 12px 12px;
                    padding: 12% 0%;
                    position: absolute;
                    width: 100%;
                    bottom: -7%;
                    z-index: -1;
                }
                .more_content_h{
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    padding-top: 6%;
                    a{
                        color: #fff;
                        font-size: 22px;
                        font-weight: 500;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
main #news_even_details{
    .news_even_details{
        background-color: #cfd1d2;
        padding: .75% 0%;
        .tt_news_even_h{
            color: #7f7f83;
        }
        span {
            text-transform: uppercase;
            color: #7f7f83;
        }
        a{
            color: $blue;
            text-decoration: none;
        }
    } 
    .content_news_even_details{
        margin: 3% 0;
        h2{
            text-transform: uppercase;
            color: #7f7f83;
            font-size: 30px;
            margin-bottom: 5%;
        }
        #menu{
            flex-direction: column;
            .nav-item{
                border-bottom: 2px solid #9fa1a3;
                padding-bottom: 6px;
                margin: 2% 0%;
                a{
                    text-decoration: none;
                    img{
                        margin-top: -3px;
                    }
                    span{
                        color: $blue;
                        margin-left: 5%;
                        font-weight: 500;
                    }
                }
                .nav{
                    flex-direction: column;
                    border-top: 1px solid  #9fa1a3; 
                    li{
                        border-bottom: 0px solid #9fa1a3;
                        padding-bottom: 0px;
                        margin: 0% 0%;
                        margin-top: 2%;
                        .active{
                            background-color: $vang;
                            border-radius: 0rem;
                            padding: 0.5rem 5.2rem;
                            i{
                                display: none;
                            }
                        }
                        a{
                            color: $blue;
                            text-decoration: none;
                            padding: 0.5rem 1rem;
                            font-weight: 500;
                            i{
                                color: #a5a7aa;
                                margin-right: 60px;
                            }
                        }
                    }
                }
            }
        } 
        .insta_pp {
            margin-top: 10%;
            h5{
                margin-left: -10%;
                text-transform: uppercase;
            }
        }
        .tag_pp {
            margin-top: 10%;
            a{
                background-color: #cfd1d2;
                color: #102b4e;
                border-radius: 5px;
                padding: 0% 2%;
                text-decoration: none;
                margin: 0% 1%;
            }
            h5{
                margin-left: -10%;
                text-transform: uppercase;
            }
        }
        .tab-content{
            .main_content_news_even_details{
                .tt_top_main_even_details{
                    h3{
                        margin-left: -15%;
                        margin-top: -1%;
                        margin-bottom: 6%;
                    }
                }
                .more_info_youtube_h{
                    h3 {
                        color: $vang;
                        text-transform: uppercase;
                        margin-top: 5%;
                    }
                    span{
                        display: block;
                    }
                    .video_youtube_student_service {
                        -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
                        box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
                        background-color: #fff;
                        border-radius: 0px 0px 15px 15px;
                        margin-top: 8%;
                        .txt_content_video_youtube{
                            .img_right_video_youtube{
                                img{
                                    padding-top: 12%;
                                }
                            }
                            span {
                                display: block;
                                margin: 3% 0 5% 6%;
                                font-size: 14px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}
main #living{
    .people_top_title{
        background-color: #cfd1d2;
        padding: .75% 0%;
        span {
            text-transform: uppercase;
        }
    }
    .content_people{
        padding-top: 1%;
        .cate_pp_img{
            -webkit-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
            border-radius: 10px;
            margin: 5% 0%;
            a{
                text-decoration: none;
            }
            .img_cate {
                overflow: hidden;
                border-radius: 10px 10px 0 0;
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
                img {
                    border-radius: 10px 10px 0 0;
                    transform: scale(1);
                    transition: all 0.3s ease-in 0s;
                }
            }
            .txt_living{
                padding-bottom: 1%;
                a{
                    text-decoration: none;
                    &:hover{
                        h3{
                            transition: 0.4s;
                            color: $vang;
                        }
                    }
                    h3{
                        color: $blue;
                        text-align: center;
                        margin-top: 2%;
                        text-transform: uppercase;
                    }
                }
                hr {
                    width: 85%;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    border: 0;
                    border-top: 2px dotted rgba(0,0,0,.1);
                }
                p {
                    text-align: center;
                    padding: 0 18%;
                }
            }
        }
    }
}
main #living_details{
    .people_details_top_title{
        background-color: #cfd1d2;
        padding: .75% 0%;
        span {
            text-transform: uppercase;
            a{
                color: $blue;
                text-decoration: none;
            }
        }
    } 
    .content_people_details{
        padding: 3% 0%;
        .content_left_pp_details{
            .cate_pp_details{
                h3 {
                    text-transform: uppercase;
                    color: #a5a7aa;
                    font-size: 35px;
                    margin-bottom: 10%;
                }
                ul{
                    margin-left: -11.5%;
                    li{
                        list-style: none;
                        border-bottom: 1px solid #b4b5b7;
                        margin: 2% 0% 0% 0%;
                        padding-bottom: 2%;
                        a{
                            color: $blue;
                            text-decoration: none;
                            font-weight: 500;
                            &:hover{
                                color: #b9bbbe;
                            }
                        }
                        .txt_cate_pp_img {
                            padding: 0;
                            margin-left: -4%;
                        }
                    }
                }
            }
            .dif_info{
                padding-top: 8%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                }
                ul{
                    margin-left: -11.5%;
                    li{
                        list-style: none;
                        border-bottom: 1px solid #b4b5b7;
                        margin: 2% 0% 0% 0%;
                        padding-bottom: 2%;
                        i {
                            color: #a2a4a6;
                        }
                        a{
                            color: $blue;
                            text-decoration: none;
                            font-weight: 500;
                            margin-left: -4%;
                        }
                        .txt_cate_pp_img {
                            padding: 0;
                        }
                    }
                }
            }
            .insta_pp{
                padding-top: 8%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                }
                .img_insta{
                    padding-right: 0px;
                    padding-top: 3%;
                }
            }
            .tag_pp{
                padding-top: 8%;
                .txt_cate_pp_img h5 {
                    margin-left: -10%;
                }
                a{
                    background-color: #cfd1d2;
                    color: $blue;
                    border-radius: 5px;
                    padding: 0% 2%;
                    text-decoration: none;
                    margin: 0% 1%;
                }
                .a_tag_content {
                    padding-top: 3%;
                }
            }
        }
        .content_right_pp_details{
            .tt_right_pp_details {
                padding-bottom: 3%;
            }
            .col-md-10.txt_cate_pp_img {
                margin-left: -10%;
                h3 {
                    text-transform: uppercase;
                    font-size: 37px;
                    margin-top: -1.5%;
                }
            }
            .time_visit{
                h5{
                    margin-top: 5%;
                    text-transform: uppercase;
                    color: $vang;
                    font-weight: 600;
                }
                .video_youtube_student_service {
                    -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
                    box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
                    background-color: #fff;
                    border-radius: 0px 0px 15px 15px;
                    margin-top: 8%;
                    .txt_content_video_youtube{
                        .img_right_video_youtube{
                            img{
                                padding-top: 12%;
                            }
                        }
                        span {
                            display: block;
                            margin: 3% 0 5% 6%;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}
main #social{
    .social_top_title{
        background-color: #cfd1d2;
        padding: .75% 0%;
        span {
            text-transform: uppercase;
        }
    }
    .main_soial{
        .content_main_h{
            margin: 14% 0;
            .img_content_main_h{
                position: relative;
                overflow: hidden;
                border-radius: 15px;
                &:hover{
                    img{
                        transform: scale(1.1);
                        border-radius: 15px;
                    }
                }
                img{
                    object-fit: cover;
                    border-radius: 15px;
                    transform: scale(1);
                    transition: 0.7s;
                }
                .mark_img_social{
                    position: absolute;
                    background: #102b4ea3;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    border-radius: 15px;
                }
                .img_icon_social {
                    text-align: center;
                    position: absolute;
                    top: 25%;
                }
            }
        }
    }
}



footer{
    background-color: #313332;
    padding-bottom: 3%;
    .footer {
        font-size: 13px;
        padding-top: 3%;
        h3 {
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
        }
        .about_us_footer{
            .socical_about_us_footer{
                padding-top: 10%;
                ul{
                    display: flex;
                    margin-left: -14%;
                    li{
                        list-style: none;
                        padding: 0% 2%;
                    }
                }
            }
            p{
                color: #f1f1f1;
                padding-top: 10%;
            }
        }
        .quick_link_footer{
            ul{
                margin-left: -13%;
                padding-top: 10%;
                li{
                    list-style: none;
                    padding: 2% 0%;
                    border-bottom: 2px solid #6b6c6c;
                    a{
                        color: #fff;
                        text-decoration: none;
                        i{
                            padding-right: 7%;
                        }
                    }
                }
            }
        }
        .get_in_touch_footer{
            .home_get_in_touch_footer {
                padding-top: 4%;
                span{
                    color: #f1f1f1;
                    line-height: 25px;
                }
                i.fas.fa-home.color_yellow {
                    padding-top: 10px;
                    font-size: 25px;
                }
                .content_right_home_get_in_touch_footer {
                    padding-top: 2%;
                }
            }
            .phone_get_in_touch_footer{
                padding-top: 5%;
                span{
                    color: #f1f1f1;
                }
                p{
                    color: #f1f1f1;
                    line-height: 4px;
                }
                i.fas.fa-phone-volume.color_yellow {
                    font-size: 25px;
                }
                .phone_left_phone_get_in_touch_footer{
                    border-right: 2px solid $vang;
                }
            }
            .mail_get_in_touch_footer{
                padding-top: 2%;
                span{
                    color: #f1f1f1;
                }
                i.fas.fa-envelope.color_yellow {
                    font-size: 25px;
                }
            }
        }
    }
}


@media (max-width: 768px){
    .menu_right{
        display: none;
    }
    .menu_h .logo_h {
        padding-top: 8%;
        text-align: center;
    }
    .top_img_ss_edu{
        display: none;
    }
    main #news_even{
        .rp_mobile_news_even{
            margin: 10% 0%;
        }
    }
    header{
        font-size: 12px;
        .login_header {
            margin-left: 0%;
        }.language_header {
            position: absolute;
            top: 45%;
        }
        
    }
    main{
        .menu_right, .test_color, .color_under_slide, .color_under_activities, .color_under_Facts_Figures_home{
            display: none;
        }
        .banner_h .mark_banner{
            display: none;
        }
    }
}
@media (min-width: 1024px) and (max-width: 1365px){
    .test_color, .color_under_slide, .color_under_activities, .color_under_Facts_Figures_home{
        display: none;
        
    }
    
    
}
@media (min-width: 768px) and (max-width: 1023px){
    main .form_call_book .book_library .button_book_library .btn {
        padding: .375rem 4.75rem;
    }
    
    
}  
@media (min-width: 1600px) and (max-width: 1920px){
    header .language_header {
        right: 10%;
    }
    main #student_service_education .main_ss_education .banner_ss_edu .top_img_ss_edu {
        background-color: #000b1db3;
        position: absolute;
        top: 0;
        left: 20%;
        padding: 3% 9%;
    }
	main{
        
        .banner_h .img_banner_h .mark_banner {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40%;
        }
        .test_color{
            width: 100%;
            height: 100px;
            border-style: solid;
            border-width: 100px 943px 0 943px;
            border-color: $vang transparent transparent transparent;
        }
        .color_under_slide{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 100px 943px 0 943px;
            border-color: $xam transparent transparent transparent;
        }
        .color_under_activities{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 100px 943px 0 960px;
            border-color: #fff transparent transparent transparent;
            background-color: $vang;
        }
        .color_under_Facts_Figures_home{
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 100px 959px 0 944px;
            border-color: $vang transparent transparent transparent;
            background-color: $xam;
        }
    }
}
