.content-page .content .duan-content {
  overflow-x: auto;
  white-space: nowrap;
  padding: 15px;
  background: #ffffff;
}

.content-page .content .duan-content .duan-top {
  width: 100%;
  padding: 20px;
  background: #ebeff2;
  border-radius: 7px;
}

.content-page .content .duan-content .duan-top .top-item {
  background: #ffffff;
  float: left;
  width: 19%;
  font-weight: 500;
  height: auto;
  margin: 0 5px;
  padding: 5px;
  border-radius: 7px;
}

.content-page .content .duan-content .duan-top .top-item span {
  display: block;
  text-align: center;
  font-size: 20px;
}

.content-page .content .duan-content .duan-top p {
  margin: auto 0px;
  margin-right: 10px;
  font-weight: 500;
}

.content-page .content .duan-content .duan-top .search {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-page .content .duan-content .duan-top .search input {
  width: 30%;
}

.content-page .content .duan-mid {
  position: relative;
  padding-top: 30px;
}

.content-page .content .duan-mid .col-md-4 {
  display: inline-block;
  float: none;
}

.content-page .content .duan-mid .card-box {
  position: absolute;
  padding: 20px;
  background: #ebeff2;
}

.content-page .content .duan-mid .card-box .card-drop {
  color: #98a6ad;
  font-size: 20px;
  line-height: 1px;
  padding: 0px 5px;
  display: inline-block;
}

.content-page .content .duan-mid .card-box ul {
  min-height: 50px;
  padding-left: 0;
  list-style: none;
}

.content-page .content .duan-mid .card-box ul .card-box-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 8px;
  background: #ffffff;
}

.content-page .content .duan-mid .card-box ul .card-box-1 .checkbox-avatar {
  display: block;
  width: 70px;
}

.content-page .content .duan-mid .card-box ul .card-box-1 .checkbox-avatar img.avatar {
  border: 2px solid #eeeeee;
  border-radius: 50%;
  width: 55px;
  margin-top: -10px;
}

.content-page .content .duan-mid .card-box ul .card-box-1 .check-detail {
  margin-top: 10px;
}

.content-page .content .duan-mid .card-box ul .card-box-1 .check-detail span {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

.content-page .content .duan-mid .card-box ul .card-box-1 .check-detail p {
  margin: 2px 0;
}

.content-page .content .duan-mid .card-box ul .card-box-1 .dropwrapper {
  display: block;
  margin-left: 35px;
}

.content-page .content .duan-mid .card-box ul .card-box-1 .item-label {
  height: 100%;
  margin-left: -35px;
  margin-top: 70px;
}

.content-page .content .duan-mid .card-box .card-button-add {
  width: 100%;
  text-align: center;
}

.content-page .content .duan-mid .card-box .card-button-add a {
  border-radius: 10px;
  text-decoration: none;
}

.content-page .content .duan-mid > .row {
  min-height: 800px;
}

.content-page .content .pro-top {
  width: 100%;
  padding: 10px;
  padding-top: 25px;
}

.content-page .content .pro-top .pro-top-item {
  background: #ffffff;
  border-radius: 10px;
  padding: 5px 15px;
  line-height: 0.1;
}

.content-page .content .pro-top .pro-top-item span {
  display: table;
  margin: 0 auto;
  font-size: 25px;
}

.content-page .content .pro-top .pro-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

.content-page .content .pro-top .pro-search p {
  width: 40%;
  margin: auto 0px;
  font-weight: 500;
}

.content-page .content .pro-top .pro-search input {
  border-radius: 10px;
  height: 30px;
  font-size: 12px;
}

.content-page .content .pro-top .statuts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

.content-page .content .pro-top .statuts p {
  width: 40%;
  margin: auto 0px;
  font-weight: 500;
}

.content-page .content .pro-top .statuts select {
  height: 30px;
  border-radius: 10px;
  font-size: 12px;
}

.content-page .content .pro-top .loaiduan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

.content-page .content .pro-top .loaiduan p {
  width: 45%;
  margin: auto 5px;
  font-weight: 500;
}

.content-page .content .pro-top .loaiduan select {
  height: 30px;
  border-radius: 10px;
  font-size: 12px;
}

.content-page .content .pro-top .pro-button {
  width: 100%;
  padding: 15px 0;
}

.content-page .content .pro-top .pro-button button {
  height: 30px;
  border-radius: 10px;
  margin-right: 5px;
}

.content-page .content .pro-mid {
  width: 100%;
  padding: 10px;
  height: 450px;
  overflow: auto;
}

.content-page .content .pro-mid .pro-mid-item {
  background: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.content-page .content .pro-mid .pro-mid-item p {
  font-weight: 500;
  font-size: 16px;
}

.content-page .content .pro-mid .pro-mid-item .status-proj {
  position: relative;
}

.content-page .content .pro-mid .pro-mid-item .status-proj span {
  color: green;
  font-weight: 500;
}

.content-page .content .pro-mid .pro-mid-item .status-proj span a {
  text-decoration: none;
}

.content-page .content .pro-mid .pro-mid-item .status-proj span a span {
  font-weight: 400;
  border-radius: 10px;
  padding: 2px 5px;
  color: #ffffff;
  float: right;
  margin-top: -5px;
}

.content-page .content .pro-mid .pro-mid-item .status-proj .edit-status {
  display: none;
  position: absolute;
  z-index: 5;
  top: 20px;
  left: 90px;
  width: 215px;
  background: #ffffff;
  border: 1px solid #98a6ad;
  border-radius: 10px;
  padding: 10px;
}

.content-page .content .pro-mid .pro-mid-item .status-proj .edit-status span {
  display: table;
  margin: 0 auto;
  font-size: 15px;
}

.content-page .content .pro-mid .pro-mid-item .status-proj .edit-status hr {
  margin: 10px 0;
}

.content-page .content .pro-mid .pro-mid-item .status-proj .edit-status div {
  color: #ffffff;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  margin: 5px;
}

.content-page .content .pro-mid .pro-mid-item .item-content {
  width: 100%;
  padding: 10px 0;
}

.content-page .content .pro-mid .pro-mid-item .item-content p {
  font-size: 13px;
  font-weight: 400;
}

.content-page .content .pro-mid .pro-mid-item .item-content p span {
  font-weight: 500;
  color: #435966;
}

.content-page .content .pro-mid .pro-mid-item .row .mid-date {
  width: 100%;
  text-align: left;
}

.content-page .content .pro-mid .pro-mid-item .row .mid-date span {
  color: #435966;
}

.content-page .content .pro-mid .pro-mid-item .row .mid-date p {
  color: #435966;
  font-size: 12px;
  font-weight: 400;
}

.content-page .content .pro-mid .pro-mid-item .mid-team {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px 0;
  margin-bottom: 10px;
}

.content-page .content .pro-mid .pro-mid-item .mid-team p {
  width: 15%;
  height: auto;
  font-size: 14px;
}

.content-page .content .pro-mid .pro-mid-item .mid-team .item-img {
  width: 75%;
}

.content-page .content .pro-mid .pro-mid-item .mid-team .item-img img {
  width: 48px;
  margin-right: 5px;
  margin-top: 5px;
}

.content-page .content .pro-mid .pro-mid-item .mid-progress {
  width: 100%;
  padding-top: 5px 0;
  margin-bottom: 15px;
}

.content-page .content .pro-mid .pro-mid-item .mid-progress p {
  font-size: 14px;
}

.content-page .content .pro-mid .pro-mid-item .mid-progress .value-progress {
  text-align: center;
}

.content-page .content .pro-mid .pro-mid-item .mid-progress .value-progress span {
  font-weight: 400;
}

.content-page .d-modal-content {
  width: 100%;
  background: #ebeff2;
  border-radius: 10px;
  padding: 20px;
}

.content-page .d-modal-content .d-modal-detail {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background: #ffffff;
}

.content-page .d-modal-content .d-modal-detail .img-name {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
  margin-bottom: 10px;
}

.content-page .d-modal-content .d-modal-detail .img-name .img-unit {
  width: 8%;
}

.content-page .d-modal-content .d-modal-detail .img-name .name-unit {
  width: 90%;
  margin-left: 10px;
}

.content-page .d-modal-content .d-modal-detail .img-name .name-unit p {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 5px;
}

.content-page .d-modal-content .d-modal-detail .img-name .name-unit span {
  color: #ffffff;
  border-radius: 5px;
  padding: 1px 4px;
}

.content-page .d-modal-content .d-modal-detail .d-title {
  width: 100%;
  margin-top: 20px;
}

.content-page .d-modal-content .d-modal-detail .d-title span {
  font-size: 18px;
  color: #000;
}

.content-page .d-modal-content .d-modal-detail .d-title .d-title-content {
  margin-top: 10px;
  height: 150px;
  overflow: auto;
}

.content-page .d-modal-content .d-modal-detail .d-title .d-title-content p {
  line-height: 1.4;
}

.content-page .d-modal-content .d-modal-detail .d-title .btn-save-cancel {
  display: none;
  width: 100%;
}

.content-page .d-modal-content .d-modal-detail .d-title .btn-save-cancel button {
  border-radius: 10px;
  margin-right: 15px;
}

.content-page .d-modal-content .d-modal-detail .d-date-time {
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
  background: #ebeff2;
  border-radius: 10px;
  margin-top: 20px;
}

.content-page .d-modal-content .d-modal-detail .d-date-time span {
  color: #000;
  font-weight: 500;
}

.content-page .d-modal-content .d-modal-detail .d-date-time .start-finish {
  position: relative;
  width: 100%;
}

.content-page .d-modal-content .d-modal-detail .d-date-time .start-finish span {
  font-size: 15px;
}

.content-page .d-modal-content .d-modal-detail .d-date-time .start-finish .change-date {
  display: none;
  position: absolute;
  z-index: 5;
  top: 10px;
  width: 300px;
  background: #ffffff;
  border: 1px solid #98a6ad;
  border-radius: 10px;
}

.content-page .d-modal-content .d-modal-detail .d-date-time .start-finish .change-date hr {
  margin-bottom: 7px;
}

.content-page .d-modal-content .d-modal-detail .d-date-time .start-finish .change-date span {
  display: table;
  margin: 5px auto;
}

.content-page .d-modal-content .d-modal-detail .d-date-time .start-finish .change-date .start-date {
  width: 100%;
  margin-bottom: 15px;
}

.content-page .d-modal-content .d-modal-detail .d-date-time .start-finish .change-date .start-date p {
  margin-left: 10px;
}

.content-page .d-modal-content .d-modal-detail .d-date-time .start-finish .change-date .start-date .edit-date {
  width: 100%;
}

.content-page .d-modal-content .d-modal-detail .d-date-time .start-finish .change-date .start-date .edit-date input {
  height: 30px;
  margin-left: 8px;
  width: 90%;
  border: 1px solid #188ae2;
}

.content-page .d-modal-content .d-modal-detail .d-date-time .start-finish .change-date .btn-date {
  padding-left: 15px;
  padding-bottom: 15px;
}

.content-page .d-modal-content .d-modal-detail .d-date-time .start-finish .change-date .btn-date button {
  height: 25px;
  padding-top: 3px;
  border-radius: 10px;
  margin-right: 10px;
}

.content-page .d-modal-content .d-modal-detail .teams-info {
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
  background: #ebeff2;
  border-radius: 10px;
  margin-top: 5px;
}

.content-page .d-modal-content .d-modal-detail .teams-info span {
  color: #000;
  font-weight: 500;
}

.content-page .d-modal-content .d-modal-detail .teams-info .team-img {
  width: 100%;
  padding-bottom: 5px;
  margin-top: -5px;
}

.content-page .d-modal-content .d-modal-detail .teams-info .team-img img {
  width: 10%;
  height: 10%;
  margin-right: 8px;
}

.content-page .d-modal-content .d-modal-detail .teams-info .team-img .add-staff {
  position: relative;
}

.content-page .d-modal-content .d-modal-detail .teams-info .team-img .add-staff .add-staff-box {
  display: none;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 20px;
  width: 250px;
  background: #ffffff;
  border: 1px solid #98a6ad;
  border-radius: 10px;
  padding: 10px;
}

.content-page .d-modal-content .d-modal-detail .teams-info .team-img .add-staff .add-staff-box span {
  display: table;
  margin: 0 auto;
}

.content-page .d-modal-content .d-modal-detail .teams-info .team-img .add-staff .add-staff-box hr {
  margin: 10px 0;
}

.content-page .d-modal-content .d-modal-detail .teams-info .team-img .add-staff .add-staff-box input {
  border: 1px solid #98a6ad;
}

.content-page .d-modal-content .d-modal-detail .teams-info .team-img .add-staff .add-staff-box input:focus {
  border: 2px solid #188ae2;
}

.content-page .d-modal-content .d-modal-detail .teams-info .team-img .add-staff .add-staff-box .name-area {
  margin-top: 10px;
  width: 100%;
}

.content-page .d-modal-content .d-modal-detail .teams-info .team-img .add-staff .add-staff-box .name-area i {
  margin: 5px 0;
  background: #ebeff2;
  border-radius: 10px;
  padding: 5px;
  font-weight: 400;
  font-style: normal;
}

.content-page .d-modal-content .d-modal-detail .teams-info .team-img .add-staff .add-staff-box .name-area i a {
  text-decoration: none;
}

.content-page .d-modal-content .d-modal-detail .teams-info .team-img .add-staff .add-staff-box .name-area i a i {
  color: #000;
}

.content-page .d-modal-content .d-modal-detail .teams-info .team-img .add-staff .add-staff-box button {
  height: 25px;
  padding-top: 3px;
  border-radius: 10px;
  margin-right: 10px;
  float: right;
}

.content-page .d-modal-content .d-modal-detail .customer-info {
  width: 100%;
  padding: 10px;
  padding-bottom: 10px;
  background: #ebeff2;
  border-radius: 10px;
  margin-top: 5px;
}

.content-page .d-modal-content .d-modal-detail .customer-info span {
  color: #000;
  font-weight: 500;
}

.content-page .d-modal-content .d-modal-detail .customer-info .customer-detail {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-page .d-modal-content .d-modal-detail .customer-info .customer-detail .customer-name {
  width: 40%;
  background: #ffffff;
  border-radius: 10px;
  color: #000;
  padding: 5px;
  text-align: center;
}

.content-page .d-modal-content .d-modal-detail .customer-info .customer-detail .edit-icon {
  position: relative;
  width: 60%;
  margin-left: 5px;
  font-size: 20px;
}

.content-page .d-modal-content .d-modal-detail .customer-info .customer-detail .edit-icon .edit-customer-box {
  display: none;
  position: absolute;
  z-index: 5;
  top: 35px;
  left: -155px;
  width: 250px;
  background: #ffffff;
  border: 1px solid #98a6ad;
  border-radius: 10px;
  padding: 10px;
}

.content-page .d-modal-content .d-modal-detail .customer-info .customer-detail .edit-icon .edit-customer-box i {
  display: table;
  margin: 0 auto;
  font-size: 15px;
  font-style: normal;
}

.content-page .d-modal-content .d-modal-detail .customer-info .customer-detail .edit-icon .edit-customer-box hr {
  margin: 10px 0;
}

.content-page .d-modal-content .d-modal-detail .customer-info .customer-detail .edit-icon .edit-customer-box select {
  display: block;
  margin: 15px 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.content-page .d-modal-content .d-modal-detail .customer-info .customer-detail .edit-icon .edit-customer-box button {
  margin-top: 10px;
  height: 25px;
  padding-top: 3px;
  border-radius: 10px;
  margin-right: 10px;
  float: right;
}

.content-page .d-modal-content .d-modal-detail .customer-info .customer-detail .edit-icon .edit-customer-box span {
  font-size: 15px;
}

.content-page .d-modal-content .d-modal-detail .file-dinhkem {
  width: 100%;
  padding: 10px;
  padding-bottom: 10px;
  background: #ebeff2;
  border-radius: 10px;
  margin-top: 5px;
}

.content-page .d-modal-content .d-modal-detail .file-dinhkem span {
  color: #000;
  font-weight: 500;
}

.content-page .d-modal-content .d-modal-detail .file-dinhkem .img-file {
  width: 100%;
}

.content-page .d-modal-content .d-modal-detail .file-dinhkem .img-file img {
  width: 12%;
  margin-left: 5px;
}

.content-page .d-modal-content .d-modal-detail .group-kind {
  width: 100%;
  padding-bottom: 10px;
  margin-top: 5px;
}

.content-page .d-modal-content .d-modal-detail .group-kind .nhan-uu-tien {
  width: 100%;
  border-radius: 10px;
  background: #ebeff2;
  padding: 10px;
}

.content-page .d-modal-content .d-modal-detail .group-kind .nhan-uu-tien span {
  color: #000;
  font-weight: 500;
}

.content-page .d-modal-content .d-modal-detail .group-kind .nhan-uu-tien .uu-tien {
  width: 100%;
  margin-top: 5px;
  margin-left: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-page .d-modal-content .d-modal-detail .group-kind .nhan-uu-tien .uu-tien .customer-name {
  width: 50%;
  border-radius: 10px;
  color: #ffffff;
  padding: 5px;
  text-align: center;
}

.content-page .d-modal-content .d-modal-detail .group-kind .nhan-uu-tien .uu-tien .edit-icon {
  position: relative;
  width: 50%;
  margin-left: 5px;
  font-size: 20px;
}

.content-page .d-modal-content .d-modal-detail .group-kind .nhan-uu-tien .uu-tien .edit-icon .edit-uu-tien {
  display: none;
  position: absolute;
  z-index: 5;
  top: -260px;
  left: -110px;
  width: 215px;
  background: #ffffff;
  border: 1px solid #98a6ad;
  border-radius: 10px;
  padding: 10px;
}

.content-page .d-modal-content .d-modal-detail .group-kind .nhan-uu-tien .uu-tien .edit-icon .edit-uu-tien span {
  display: table;
  margin: 0 auto;
  font-size: 15px;
}

.content-page .d-modal-content .d-modal-detail .group-kind .nhan-uu-tien .uu-tien .edit-icon .edit-uu-tien hr {
  margin: 10px 0;
}

.content-page .d-modal-content .d-modal-detail .group-kind .nhan-uu-tien .uu-tien .edit-icon .edit-uu-tien div {
  color: #ffffff;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  margin: 5px;
}

.content-page .d-modal-content .d-modal-detail .save-cancel {
  width: 100%;
  text-align: right;
}

.content-page .d-modal-content .d-modal-detail .save-cancel button {
  border-radius: 10px;
  margin-right: 10px;
}

.content-page .d-modal-content .modal-chat {
  width: 100%;
  height: 697px;
  border-radius: 10px;
  background: #ffffff;
  padding: 15px;
  padding-right: 5px;
}

.content-page .d-modal-content .modal-chat .chat-content {
  width: 100%;
  overflow: auto;
  height: 520px;
}

.content-page .d-modal-content .modal-chat .chat-content .chat-cap-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 5px 0;
}

.content-page .d-modal-content .modal-chat .chat-content .chat-cap-0 img {
  width: 18%;
  height: 18%;
}

.content-page .d-modal-content .modal-chat .chat-content .chat-cap-0 .chat-message {
  margin-left: 15px;
  font-size: 13px;
}

.content-page .d-modal-content .modal-chat .chat-content .chat-cap-0 .chat-message .chat-name {
  color: #000;
  font-size: 20px;
}

.content-page .d-modal-content .modal-chat .chat-content .chat-cap-0 .chat-message p {
  margin-bottom: 0;
}

.content-page .d-modal-content .modal-chat .chat-content .chat-cap-0 .chat-message a {
  margin-right: 5px;
}

.content-page .d-modal-content .modal-chat .chat-content .chat-cap-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: 5px 0;
  margin-left: 70px;
}

.content-page .d-modal-content .modal-chat .chat-content .chat-cap-1 img {
  width: 17%;
  height: 17%;
}

.content-page .d-modal-content .modal-chat .chat-content .chat-cap-1 .chat-message {
  margin-left: 15px;
  font-size: 13px;
}

.content-page .d-modal-content .modal-chat .chat-content .chat-cap-1 .chat-message .chat-name {
  color: #000;
  font-size: 20px;
}

.content-page .d-modal-content .modal-chat .chat-content .chat-cap-1 .chat-message p {
  margin-bottom: 0;
}

.content-page .d-modal-content .modal-chat .chat-content .chat-cap-1 .chat-message a {
  margin-right: 5px;
}

.content-page .d-modal-content .modal-chat .chat-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.content-page .d-modal-content .modal-chat .chat-box img {
  width: 18%;
  height: 18%;
}

.content-page .d-modal-content .modal-chat .chat-box .chat-box-edit {
  width: 100%;
  margin-left: 10px;
  padding-right: 15px;
}

.content-page .d-modal-content .modal-chat .chat-box .chat-box-edit .chat-box-name {
  color: #000;
  font-size: 20px;
}

.content-page .d-modal-content .modal-chat .chat-box .chat-box-edit textarea {
  height: 90px;
}

.content-page .d-modal-content .modal-chat .chat-box .chat-box-edit button {
  border-radius: 10px;
  margin-top: 5px;
  padding: 2px 5px;
}

.side-menu ul li .menuchild {
  display: none;
  margin-left: 180px;
  top: 15px;
  position: absolute;
  padding: 10px;
  background: #ffffff;
  width: 250px;
  z-index: 10;
  border: 1px solid #ebeff2;
  border-radius: 10px;
  font-size: 15px;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
}

.side-menu ul li .menuchild hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.side-menu ul li .menuchild p {
  color: #71b6f9;
  line-height: 1;
  text-align: center;
}

.side-menu ul li .menuchild a {
  text-decoration: none;
  color: #435966;
  margin: 5px 0;
}

.side-menu ul li .menuchild a:hover {
  color: #71b6f9;
}

.side-menu ul li:hover > .menuchild {
  display: block;
}

.mini-slide-menu {
  display: none;
  top: 0;
  width: 90px;
  z-index: 2;
  background: #ffffff;
  bottom: 50px;
  height: 100%;
  margin-bottom: -70px;
  margin-top: 0px;
  padding-bottom: 70px;
  position: absolute;
  -webkit-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
}

.mini-slide-menu .mini-logo {
  color: #188ae2 !important;
  font-size: 20px;
  font-family: 'Rancho', cursive;
}

.mini-slide-menu .mini-logo span span {
  color: #10c469;
}

.mini-slide-menu .mini-user-box {
  text-align: center;
  padding: 30px 0px 20px 0px;
}

.mini-slide-menu .mini-user-box .mini-user-img {
  position: relative;
  height: 70px;
  width: 70px;
  margin: 0px auto;
}

.mini-slide-menu .mini-sidebar-menu {
  padding-top: 40px;
  width: 100%;
  text-align: center;
}

.mini-slide-menu .mini-sidebar-menu ul {
  padding-left: 0;
  list-style: none;
}

.mini-slide-menu .mini-sidebar-menu ul li {
  position: relative;
  margin-bottom: 15px;
}

.mini-slide-menu .mini-sidebar-menu ul li a {
  color: #435966;
  text-decoration: none;
  font-size: 30px;
}

.mini-slide-menu .mini-sidebar-menu ul li a:hover {
  color: #71b6f9;
}

.mini-slide-menu .mini-sidebar-menu ul li .mini-menuchild {
  display: none;
  margin-left: 50px;
  top: 15px;
  position: absolute;
  padding: 10px;
  background: #ffffff;
  width: 250px;
  z-index: 10;
  border: 1px solid #ebeff2;
  border-radius: 10px;
  font-size: 15px;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
}

.mini-slide-menu .mini-sidebar-menu ul li .mini-menuchild hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mini-slide-menu .mini-sidebar-menu ul li .mini-menuchild p {
  color: #71b6f9;
  line-height: 1;
  text-align: center;
}

.mini-slide-menu .mini-sidebar-menu ul li .mini-menuchild a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #435966;
  margin: 5px 0;
  font-size: 15px;
}

.mini-slide-menu .mini-sidebar-menu ul li .mini-menuchild a:hover {
  color: #71b6f9;
}

.mini-slide-menu .mini-sidebar-menu ul li:hover > .mini-menuchild {
  display: block;
}
/*# sourceMappingURL=style.css.map */